@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Serif:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&display=swap');

// Font title
$baseFont1:Henny Penny;
$baseFont2:Pattaya;

// Font text
$baseFont3:Roboto;
$baseSizeP:1.5vw;

$background:rgba(214, 219, 199, 0.473);